<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.talycap.gestion.infrastructure.repository.mybatis.mappers.TipoProductoMapper">
	<resultMap type="com.talycap.gestion.infrastructure.entitys.TipoProductoEntity" id="TipoProductoResult">
  	
  		<id		property ="tipoProductoId" 		column ="tipo_producto_id"/>
 		<result property ="nombreTipoProducto" 	column ="nombre_tipo_producto"/>
 		
  	</resultMap>
</mapper>