<h3>Crear Nuevo Barco</h3>
<form class="form"
   [formGroup] ="barcoFormGroup"
   (ngSubmit)  ="insertBarco(barcoFormGroup.value)">


   <div class="form-group">
    <label for="nroFlota">Numero de Flota:</label>
    <input  id   ="nroFlota"
            name ="nroFlota"
            [formControl]="barcoFormGroup.controls['nroFlota']">
  </div>

  <div class="form-group">
    <label for="nombreBarco">Nombre de Barco:</label>
    <input  id   ="nombreBarco"
            name ="nombreBarco"
            [formControl]="barcoFormGroup.controls['nombreBarco']">
  </div>

  <div class="botonForm">
    <button type="submit"
    class="btn btn-primary">
    Guardar
  </button>

  </div>
</form>
<app-tabla-barco
 [cambio]="cambio">
</app-tabla-barco>
