<!DOCTYPE html>
<html lang="en">
<script src="./prueba.js"></script>
	<body>
		<div class="row fondo">
			<nav class="col-md-8 col-sm-12 col-md-offset-3 col-xs-12 fondo">

			</nav>

		</div>

		<div class ="row">
			<header class="col-xs-12 col-xs-offset-0 col1">
        <img src="./assets/talycap-logo.jpeg">
        <!--<app-header></app-header> -->
			</header>

		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-sm-12 col-md-6 col-lg-4">
					<!--<app-column-left></app-column-left> -->
          <app-menu></app-menu>
				</div>
				<div class="col-xs-10 col-sm-12 col-md-6 col-lg-4">
          <router-outlet></router-outlet>

				</div>

				<div class="col-xs-10 col-sm-12 col-md-4 col-lg-4">
					<!--<app-column-right></app-column-right> -->
					<!--<app-cliente></app-cliente>-->

				</div>

			</div>

		</div>
		<footer>
			<div>
				<!--<app-footer></app-footer> -->
			</div>
		</footer>
	</body>
</html>




