<div class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tipoproducto">TipoProducto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/barcos">Barcos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bodegas">Bodegas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/puertos">Puertos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/camiones">Camiones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logistica">Logistica</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

</div>
